extends ../../layout

block init
    - var page = "Applications"

block content
    h1 あなたが作ったアプリケーションの一覧

    a(href="/settings/my_developed_applications/new") もういっこつくる

    ul
        each app in myOwnedApps
            li
                a(href="/settings/my_developed_applications/" + app.id) #{app.name}