extends ../../layout.pug

block content
    h1 #{app.name}

    p #{app.description}

    table
        tr
            th client_id
            td: input(type="text", value=app.clientId, readonly)
        tr
            th client_secret
            td: input(type="text", value=app.clientSecret, readonly)
