extends ../layout

block init
    - var page = "Settings"

block content
    h1 設定
    a(href="/") トップ

    ul
        li: a(href="/settings/invite_codes") 招待コード
        li: a(href="/settings/my_developed_applications") あなたが作ったアプリケーション一覧