block init
doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    meta(name="robots" content="noindex")
    if title
        title #{title} | Sea
    else
        title Sea
    block head
  body
    section(class="container")
        block content
