doctype html
html
    head
        meta(charset="UTF-8")
        if recaptchaSiteKey != null
            script(src="https://www.google.com/recaptcha/api.js", async, defer)
    body
        h1 ログイン - Sea
        form(method="POST")
            table
                tr
                    th スクリーンネーム
                    td
                        input(type="text", placeholder="abcdefgh", name="screen_name", pattern="^[0-9A-Za-z_]{1,20}$", required, maxlength=20)
                tr
                    th パスワード
                    td
                        input(type="password", placeholder="パスワード", name="password", minlength=8, required)
            if recaptchaSiteKey != null
                div.g-recaptcha(data-sitekey=recaptchaSiteKey)
            input(type="submit", value="ログイン")