extends layout.pug

block content
    h1 ログアウト - Sea
    form(method="POST")
        p ほんとにしていい?
        input(type="hidden", name="_csrf", value=session.getCookieValue())
        input(type="submit", value="ログアウト")
        a(href="/") だめ