extends /layout

block content
    h1 ランキング
    a(href="/") Explore トップに戻る
    p データを集計して役に立(つ/たない)ランキングを作りました。リアルタイム更新
    ul
        li: a(href="/explore/ranking/zyan_text") 〜〜じゃん 使用された回数ランキング
        li: a(href="/explore/ranking/same_text") 何回も投稿された全く同じ内容の投稿ランキング
