h1 #{app.name} を認証しますか?

p #{app.description}

form(method="POST")
    input(type="hidden", name="_csrf", value=session.getCookieValue())
    input(type="hidden", name="sign", value=sign)
    input(type="submit", value="認証")